body {
    background-color: white;
    font-family: 'Times New Roman', serif;
    margin: 50px;
    padding: 10px;
}

header {
    background-color: green;
    color: white;
    text-align: center;
    padding: 30px;
}

.news-feed {
    background-color: white;
    padding: 30px;
    height: 100px;
    overflow: hidden;
    position: relative;
    border: 1px solid black;
}

.news-container {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
    will-change: transform;
}

.news-item {
    font-size: 40px;
    font-weight: bold;
    color: black;
    padding: 20px;
    text-align: center;
}
